<!-- Modal -->
<div class="modal fade" id="add-new-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header beer-foam">
        <h5 class="modal-title" id="exampleModalLongTitle">Yey! There's a new happy hour in town!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="add-new-happy-hour-form" class="beer-body">
        <div class="modal-body container">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input type="text" name="bar_input" id="bar-input" class="form-control" placeholder="Enter the name of the bar">
                <input type="hidden" name="image" id="image">
                <input type="hidden" name="bar_name" id="bar-name">
                <input type="hidden" name="full_address" id="full-address">
                <input type="hidden" name="phone_number" id="phone-number">
                <input type="hidden" name="website" id="website">
                <input type="hidden" name="lat" id="lat">
                <input type="hidden" name="lng" id="lng">
              </div>
            </div>
            <% Day.all.each do |day| %>
              <div class="col-lg-6">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="happy_days[]" value="<%= day.name %>">
                    <%= day.name %>
                  </label>
                </div>
              </div>
            <% end %>
            <div class="col-lg-6">
              
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input class="timepicker form-control" type="text" name="time_start">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input class="timepicker form-control" type="text" name="time_end">
              </div>
            </div>
          </div>
          <div class="row drink-wrapper">
            <div class="col-lg-6">
              <div class="form-group">
                <select class="form-control" class="drink-type" name="drink_types[]">
                  <option> Wine </option>
                  <option> Beer </option>
                  <option> Cocktail </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <input type="text" name="drink_prices[]" class="drink-price form-control">
              </div>
            </div>
            <div class="col-lg-2 text-center">
              <i class="fa fa-plus-circle add-drink-btn" aria-hidden="true" style="font-size: 30px;"></i>
            </div>
          </div>
        </div>  
        <div class="modal-footer">
          <span class="btn btn-primary add-happy-hour-btn"> Submit </span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="hidden" id="new-drink">
  <%= render partial: "shared/drink", locals: {skill: false} %>
</div>