<div class="col-lg-6">
  <div class="form-group">
    <select class="form-control" class="drink-type" name="drink_types[]">
      <option> Wine </option>
      <option> Beer </option>
      <option> Cocktail </option>
    </select>
  </div>
</div>
<div class="col-lg-4">
  <div class="form-group">
    <input type="text" name="drink_prices[]" class="drink-price form-control">
  </div>
</div>
<div class="col-lg-2 text-center">
  <i class="fa fa-plus-circle add-drink-btn" aria-hidden="true" style="font-size: 30px;"></i>
</div>