<div class="row">
	<div class="col-lg-12 form-group">
		<input type="text" name="city_search" class="form-control" id="city-search" placeholder="Search for a city">
	</div>

	<div class="partial-container" style="width:100%;">
		<%= render "shared/list" %>
	</div>
</div>