<% @happy_hours.each_with_index do |happy_hour, index| %>
	<div class="col-lg-12">
		<div id="marker-<%=index%>" data-lat="<%= happy_hour.lat %>" data-lng="<%= happy_hour.lng %>" class="card happy-hour-card">
			<div class="background-image" style="background-image: url(<%= happy_hour.image %>)">
			</div>
			<div class="overlay"></div>
			<div class="card-block text-center">
				<h2 class="card-title"><%= happy_hour.bar_name %></h2>
			</div>
			<div class="happy-hour-card-box">
				<div class="side-icon-box price-box" data-content="Avg price: <%= happy_hour.specials.map{|x| x.price.to_f }.inject(:+)/ happy_hour.specials.length %>">
					<i class="fa fa-usd" aria-hidden="true"></i>
				</div>
				<a href="<%= happy_hour.website %>" target="_blank">
					<div class="side-icon-box info-box" data-content="More info">
						<i class="fa fa-info-circle" aria-hidden="true"></i>
					</div>
				</a>
				<a href="https://maps.google.co.uk/maps?saddr=current location&daddr=<%= happy_hour.full_address %>" target="_blank">
					<div class="side-icon-box directions-box" data-content="Directions">
						<i class="fa fa-map-signs" aria-hidden="true"></i>
					</div>
				</a>
			</div>
		</div>
	</div>
<% end %>