<nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="<%=root_path%>"><img src="https://farm5.staticflickr.com/4392/36771976291_7990e660f2_o.png"></a>
      <ul class="nav navbar-nav navbar-logo mx-auto hide-desktop">
        <h1 class="page-slogan"> Find and share the best happy hours all over the world! </h1>
      </ul>
      <div class="collapse navbar-collapse" id="navbarCollapse">
<!--         <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul> -->
        <!-- <ul class="nav navbar-nav mr-auto"></ul> -->
        <ul class="nav navbar-nav hide-mobile">
            <a href="https://twitter.com/andrea_munches" class="twitter-profile" target="_blank">
              <li class="nav-item">
                <img src="https://s3.eu-west-2.amazonaws.com/belooga/Images/andrea-belooga.jpg" height="50" class="rounded-circle">
              </li>
            </a>
        </ul>
      </div>
    </nav>