
<div id="map-container">
	<%= render "shared/map" %>
</div>
<script id="infobox-template" type="text/x-handlebars-template">
  <div class="info-box-wrap">
         <div class="img" style="background-image: url({{img_src}})"></div>
         <div class="info-box-text-wrap">
            <h6 class="address">{{bar_name}}</h6>
            <p>
            	<strong>On:</strong>  
            	{{#each days}}
			    {{#if @last}}
			      {{this.name}}
			    {{else}}
			      {{this.name}},
			    {{/if}} 
			  {{/each}}
            </p>
            <p><strong>From</strong> {{start_time}} <strong>to</strong> {{ end_time }}</p>
            <p class="price">
            	{{#each drinks}}
            		{{#if @last}}
            			{{{this.icon}}} {{this.price}}$
            		{{else}}
            			{{{this.icon}}} {{this.price}}$ |
            		{{/if}} 
            	{{/each}}
            </p>
         </div>
         <div class="action-btns">
	         <a href="{{ website }}" target="_blank">
		         <div class=" action-box upper-action text-center">
		         	<i class="fa fa-info-circle" aria-hidden="true"> <span> Info </span> </i>
		         </div>
	         </a>
	         <a href="https://maps.google.co.uk/maps?saddr=current location&daddr={{address}}" target="_blank">
		         <div class="action-box bottom-action text-center">
		         	<i class="fa fa-map-signs" aria-hidden="true"> <span> Directions </span> </i>
		         </div>
	         </a>
         <!-- <i class="fav fa fa-heart-o"></i> -->
         </div>
   </div>
</script>

<script>
	function initMap() {

		var s = document.createElement("script");
		  s.type = "text/javascript";
		  s.src = "/infobox.js";
		  $("head").append(s);

		var pos;

		map = new google.maps.Map(document.getElementById('map'), {
		zoom: 15,
		center: {
			lat: <%= request.location.latitude %>,
		    lng: <%= request.location.longitude %>
		},
		});
		

		var infoWin = new google.maps.InfoWindow();
		// Add some markers to the map.
		// Note: The code uses the JavaScript Array.prototype.map() method to
		// create an array of markers based on a given "locations" array.
		// The map() method here has nothing to do with the Google Maps API.
		var locations = [
			<% @happy_hours.each do |happy_hour| %>
			{
				lat: <%= happy_hour.lat %>,
				lng: <%= happy_hour.lng %>,
				bar_name: "<%= happy_hour.bar_name %>",
				img: "<%= happy_hour.image %>",
				address: "<%= happy_hour.full_address %>",
				start_time: "<%= happy_hour.time_start %>",
				end_time: "<%= happy_hour.time_end %>",
				days: <%= happy_hour.days.to_json.html_safe %>,
				drinks: <%= happy_hour.specials.to_json.html_safe %>,
				website: "<%= happy_hour.website %>"
			},
			<% end %>
		];

		marker_list = []

		var ibOptions = {
    		disableAutoPan: false
    		,maxWidth: 0
    		,pixelOffset: new google.maps.Size(-140, 0)
    		,zIndex: null
    		,boxStyle: {
          padding: "0px 0px 0px 0px",
          width: "340px",
          height: "120px"
        },
        closeBoxURL : "",
        infoBoxClearance: new google.maps.Size(1, 1),
    		isHidden: false,
    		pane: "floatPane",
    		enableEventPropagation: false
    	};

    	var open_marker;
		var markers = locations.map(function(location, i) {
			var marker = new google.maps.Marker({
			  position: location
			  // icon: "https://farm5.staticflickr.com/4360/36518327540_88c9f70a8f_o.png"
			});
			marker_list.push(marker);
			google.maps.event.addListener(marker, 'click', function(evt) {
			    var source   = $("#infobox-template").html();
        		var template = Handlebars.compile(source);
        		var boxText = document.createElement("div");
		        boxText.style.cssText = "background: #fff; padding: 0px;";
		        var context = {
		        	img_src: location.img, 
		        	bar_name: location.bar_name, 
		        	start_time: location.start_time, 
		        	end_time: location.end_time, 
		        	days: location.days,  
		        	drinks: location.drinks, 
		        	address: location.address, 
		        	website: location.website 
		        };

		        boxText.innerHTML = template(context);
		 
		        ibOptions.content = boxText
		        var ib = new InfoBox(ibOptions);
		        if (open_marker){
		        	open_marker.close();
		        }
		        open_marker = ib;
		      	ib.open(map, marker);
		        map.panTo(ib.getPosition());
			})
			return marker;
		});

		// markerCluster.setMarkers(markers);
		// Add a marker clusterer to manage the markers.
		var markerCluster = new MarkerClusterer(map, markers, {
			imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
		});
	}
</script>