<div id="content-row" class="row">
	<div class="col-lg-4 <% if mobile_device? %> order-2 <% end %>">
		<%= render "shared/left_panel" %>
	</div>
	<div class="col-lg-8 map-column <% if mobile_device? %> order-1 <% end %>">
		<%= render "shared/right_panel" %>
	</div>
</div>