/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "ionicons";
@import "infowindow";

$primary_color: #f1c40f;
$cta_color: #f44336;

html, body, #content, #content-row, #map-container, .map-column, #map{
  width:100%;
  height:100%;
}

body{
  font-family: 'Open Sans', sans-serif;  
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Muli', sans-serif;
}

.shadow{
  -webkit-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 35px -5px rgba(0,0,0,0.75);
}

nav{
  background-color: #32325B;
}

.navbar-brand img{
   height: 50px;
}

.btn.btn-primary{
  background: $primary_color;
  color: white;
  border: none;
}

.add-happy-hour-btn{
  font-size: 58px;
  color: $cta_color;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

}

h1.page-slogan{
  color: white;
  font-family: 'Open Sans', sans-serif;  
  font-weight: normal;
  font-size: 28px;
}

.add-happy-hour-btn:hover{
  transform: scale(1.2);
  color: #d32f2f;
}

.hidden{
  display: none !important;  
}

#content-row{
  margin: 0;
}

#content-row .col-lg-4{
  overflow: scroll;
}

.col-lg-8{
  padding: 0;
}

.ui-timepicker-container{
	z-index: 1051 !important;
}

.pac-container {
    z-index: 1051 !important;
}

#city-search{
  margin-top: 30px;
}

.happy-hour-card{
  height: 200px;
  margin-bottom: 15px;
  overflow: hidden;
}

.happy-hour-card .background-image{
  background-size: cover;
  height: 100%;
  width: 100%;
  border: none;
  transition: 0.5s;
}

.happy-hour-card .overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.4;
  transition: all 0.5s;
}

.happy-hour-card:hover .background-image{
  transform: scale(1.2);
}

.happy-hour-card:hover .card-block{
  z-index: 2;
}

.happy-hour-card .card-block{
  position: absolute;
  z-index: 2;
  color: white;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.side-icon-box{
  height: 50px;
  color: white;
  width: 50px;
  padding-top: 12px;
  transition: 0.5;
  position: absolute;
  left: 0;
  z-index: 10;
}

.side-icon-box i{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.5s;
  padding-top: 3px;
}


.side-icon-box.price-box{
  background: #3e8e41;
  transition: 0.5s;
  top:50px;
}
.side-icon-box.price-box:after{
  content: attr(data-content);
  font-family: 'Open Sans', sans-serif;  
  margin-left: -120px;
  transition: 0.5s;
  line-height: 20px;
}
.side-icon-box.price-box:hover{
  width: 150px;
}
.side-icon-box.price-box:hover i{
  padding-left: 120px;
}
.side-icon-box.price-box:hover::after {
  margin-left: 10px;
}



.side-icon-box.info-box{
  background: #00c3ff;
  transition: 0.5s;
  top:100px;
}
.side-icon-box.info-box:after{
  content: attr(data-content);
  font-family: 'Open Sans', sans-serif;  
  margin-left: -80px;
  transition: 0.5s;
  line-height: 20px;
}
.side-icon-box.info-box:hover{
  width: 120px;
}
.side-icon-box.info-box:hover i{
  padding-left: 80px;
}
.side-icon-box.info-box:hover::after {
  margin-left: 10px;
}


.side-icon-box.directions-box{
  background: #f1c40f;
  transition: 0.5s;
  top:150px;
}
.side-icon-box.directions-box:after{
  content: attr(data-content);
  font-family: 'Open Sans', sans-serif;  
  margin-left: -80px;
  transition: 0.5s;
  line-height: 20px;
}
.side-icon-box.directions-box:hover{
  width: 120px;
}
.side-icon-box.directions-box:hover i{
  padding-left: 80px;
}
.side-icon-box.directions-box:hover::after {
  margin-left: 10px;
}

.hide-desktop{
  display: none;
}


@media only screen and (max-width: 768px){
  .fixed-top{
    height: 95px !important;
  }

  #content{
    padding-top: 95px !important;
  }

  .navbar-brand{
    margin: auto !important;
  }

  .navbar-brand img{
    height: 30px;
  }

  .hide-mobile{
    display: none;
  }

  .hide-desktop{
    display: block;
  }

  h1.page-slogan{
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 5px;
  }

  .navbar-brand{
    margin-right: 0;
  }
}

.twitter-profile{
  margin-left: 0;  
  transition: 0.5s;
  display: inline-block;
  padding: 5px;
}

.twitter-profile li:after{
  content: "@andrea_munches";
  color: #353535;
  position: absolute;
  transition: 0.5s;
  top: 24px;
  opacity: 0;
  right:30px;
  
}

.twitter-profile:hover li{
  padding-right: 160px;
  background: #ededed;
  transition: 0.5s;
  border-radius: 25px;
}

.twitter-profile:hover li::after{
  display: inline-block;
  transition: 0.5s;
  opacity: 1;
}







.card-title{
  padding-top: 9px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-text{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  padding-left: 30px;
  padding-right: 30px;
}

.add-new{
	position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 60px;
}

.fixed-top{
	height: 70px;
}

#content{
  padding-top:70px;
  padding-left: 0;
  padding-right: 0;
}