.info-box-wrap {
  background:#fff;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
}

.info-box-text-wrap {
  height:120px !important;
  width:200px;
  float:left;
  overflow: hidden;
}

.info-box-text-wrap h6.address {
  padding:6px 5px 1px 0;
  margin:0 0 0 0;
  color: #0c99c8;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info-box-text-wrap p {
  font-size: 13px;
  padding:0 0 5px 0;
  margin:0 0 0 0;
}
.info-box-text-wrap p.price {
  color:#B25B00;
}
 
.info-box-wrap  .img {
  width:120px !important;
  height:120px;
  float:left;
  margin-right: 10px;
  padding-top:0;
  margin-top:0;
  background-size: cover;
}

.infoBox:before{
  content : " ";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position:absolute;
  top:-10px;
  left:130px;
}

.action-btns {
  overflow: hidden;
  height: 50px;
  width: 340px;
}
.action-btns i {
  font-size: 18px;
  color: white;
  margin-left: 3px;
}
.action-btns i:hover {
  transition: color 0.5s ease;
  cursor: pointer;
}
.action-btns i.fa-heart-o {
  font-weight: bold;
}

.action-box{
  width: 170px;
  padding-top: 18px;
  background: blue;
  padding-left: 4px;
  height: 70px;
}

.upper-action{
  background: #00c3ff;
  float: left;
}

.bottom-action{
  background: #f1c40f;
  float: right;
}

.action-box span {
  opacity: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;  
  max-width: 0;
  display: inline-block;
  text-decoration: none;
  transition: max-width 0.1s ease-out 0.1s, opacity 0.1s ease-out 0.1s;
}

.action-box:hover span {
            opacity: 1;
            max-width: 80px;
            transition: max-width 0.1s ease-out 0.1s, opacity 0.1s ease-out 0.1s;
        }