<!DOCTYPE html>
<html>
  <head>
    <title> Drinkful - Find and share the best happy hours</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="https://fonts.googleapis.com/css?family=Muli|Open+Sans" rel="stylesheet">
  </head>

  <body>
  	<%= render "shared/navbar"%>

  	<div id="content" class="container-fluid">
  		<%= yield %>
  	</div>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6QP7OKIvFjd37hPEROK7kPBQ9jgMReVc&callback=initMap&libraries=places"></script>

    <%= render "shared/mailerlite" %>
    <%= render "shared/add_new_modal" %>

    <% if is_production? %>
      <%= render "shared/analytics"%>
    <% end %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script>
      $('.timepicker').timepicker({
          timeFormat: 'h:mm p',
          interval: 30,
          minTime: '12:00am',
          maxTime: '11:00pm',
          defaultTime: '19:00',
          startTime: '12:00am',
          dynamic: false,
          dropdown: true,
          scrollbar: true
      });
    </script>

  </body>
</html>
